{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <h1>4 <img src="#" alt="0"> 4</h1>
        <p>You have entered the hamster's breakroom!</p>
    </section>

    <nav>
        <a href="#">Go back</a>
    </nav>


{% endblock %}