{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <h1>5 <img src="#" alt="0"> 0</h1>
        <p>The spinning wheel probably caught on fire.</p>

        <button>Go back</button>
    </section>


{% endblock %}