<li class="ajax-list-item" id="ajax-users-template">
    <a class="list-button button-danger button-with-icon remove-group-user">
        {{ source('@icons/user-minus-icon.svg') }}
    </a>
</li>
<li class="ajax-list-item" id="ajax-rooms-template">
    <a class="list-button button-danger button-with-icon remove-group-room">
        {{ source('@icons/home-minus-icon.svg') }}
    </a>
</li>
<dialog class="add-modal" id="modal-template">
    <ul id="users-list"></ul>
    <button class="button-base button-success">Close</button>
</dialog>