{% extends 'base.html.twig' %}

{% block title %} Edit group {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <h1>Edit group</h1>

    <article id="form">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </article>
{% endblock %}