{% extends 'base.html.twig' %}

{% block title %} Building detail {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/detail.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="detail">
        <header>
            <h1>{{ building.name }}</h1>
        </header>
        <dl>
            <dd>Address</dd>
            <dt data-label="Address">{{ building.address }}</dt>
        </dl>
        <footer>
            {% include 'buildings/buttons.html.twig' %}
        </footer>
    </article>
{% endblock %}