{% extends 'base.html.twig' %}

{% block title %} Building detail {% endblock %}

{% block main %}
    <section>
        <h1>{{ building.name }}</h1>
        <h2>Detail</h2>
        <dl>
            <dd>Address</dd>
            <dt>{{ building.address }}</dt>
        </dl>
        <a href={{ path('building_edit', { id: building.id }) }}>Edit</a>
    </section>
{% endblock %}