{% extends 'base.html.twig' %}

{% block title %} Buildings {% endblock %}

{% block main %}
    <h1>Buildings</h1>
    {% for building in buildings %}
        Name: {{ building.name }}, Address: {{ building.address }}
        <a href={{ path('buildings_detail', { id: building.id }) }}>Detail</a>
        <p></p>
    {% endfor %}
{% endblock %}
