main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
}

section h1 {
    font-weight: 200;
    font-family: 'Martel Sans', sans-serif;
    font-size: 3.5rem;
    color: var(--gray);
    text-transform: uppercase;
}

section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
}

section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section ul li:not(:last-of-type){
    margin-bottom: .5rem;
}

section ul li a {
    background-color: var(--main);
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .438rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
}

section ul li a:hover {
    color: var(--white);
    background-color: var(--main-darker);
}

section ul li a .button-icon {
    height: 2rem;
    width: 2rem;
}

@media screen and (min-width: 740px) {
    section h1 {
        padding-top: .25rem;
        font-size: 4.5rem;
    }

    section ul {
        width: 80%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    section ul li {
        margin: 0 .5rem 0 .5rem;
        display: block;
    }

    section ul li a {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        min-width: 10rem;
        margin-bottom: 1rem;
        padding: 0;
    }

    section ul li a span {
        font-size: 1.25rem;
        margin: 2rem 0 1.5rem 0;
        padding: 0 2rem 0 2rem;
    }

    section ul li a .button-icon {
        margin: 3rem 0 0 0;
        height: 5rem;
        width: 5rem;
    }
}

@media screen and (min-width: 900px) {
    section h1 {
        padding-top: .5rem;
        font-size: 5rem;
    }

    section ul li a {
        min-width: 13rem;
    }

    section ul li a span {
        font-size: 1.75rem;
        margin: 2.5rem 0 2rem 0;
    }

    section ul li a .button-icon {
        height: 5.5rem;
        width: 5.5rem;
    }
}

@media screen and (min-width: 1150px) {
    section h1 {
        padding-top: 1rem;
        font-size: 6rem;
    }

    section ul li a {
        min-width: 14rem;
    }

    section ul li a span {
        font-size: 2rem;
        margin: 3rem 0 2rem 0;
    }

    section ul li a .button-icon {
        height: 6rem;
        width: 6rem;
    }
}