.filters-button {
    padding: .625rem 1.875rem .625rem 1.875rem;
    font-size: 1.125rem;
    border-radius: .438rem;
    border: unset;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 90%;
    background-color: var(--main);
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.active {
    border-radius: .438rem .438rem 0 0;
}

.active, .filters-button:hover {
    background-color: var(--main-darker);
    color: var(--white);
}

.active .button-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filters-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    background-color: var(--white);
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0 0 .438rem .438rem;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.filters-content > form {
    margin: 2rem 0 2rem 0;
}

@media screen and (min-width: 790px) {
    .filters-content > form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .filters-content > form div:not(:last-child) {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .filters-content > form div:last-of-type {
        width: 100%;
        max-width: unset
    }
}