main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

main h1 {
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#form {
    width: 90%;
    max-width: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: var(--white);
    border-radius: .438rem;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    padding: 3rem 0 3rem 0;
}

form {
    width: calc(100% - 6rem);
    padding: 0 3rem 0 3rem;
}

form input, form select, form textarea {
    font-family: 'Source Sans Pro', sans-serif;
    padding: .625rem;
    font-size: 1rem;
    color: var(--black);
    border-radius: .438rem;
    border: unset;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 0 1rem var(--gray-light);
    box-shadow: inset 0 0 0 0.078rem var(--gray-light);
    cursor: pointer;
}

form input:disabled, form select:disabled, form textarea:disabled {
    cursor: default;
}

form input:focus-visible, form select:focus-visible, form textarea:focus-visible {
    -webkit-box-shadow: inset 0 0 0 0.078rem var(--main-darker);
    box-shadow: inset 0 0 0 0.078rem var(--main-darker);
    outline: unset;
}

form div:not(:last-of-type) {
    margin-bottom: 1rem;
}

form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

form label, form h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: .25rem;
    color: var(--gray-light)
}

form h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
}

#form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2rem;
}

.hidden {
    display: none;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}

div ul li {
    color: var(--white);
    padding: .5rem 0 .5rem .5rem;
    background-color: var(--red);
    border-radius: .438rem;
    margin: .5rem 0 .5rem 0;
}

@media only screen and (min-width: 768px) {
    main h1 {
        font-size: 2.5rem;
    }
}