:root {
    --main: #5E62C4;
    --main-darker: #332A9C;
    --white: #FFFFFF;
    --gray-table-light: #DDDDDD;
    --gray-table-backgroud: #F8F8F8;
    --gray-lightest: #B4B4B4;
    --gray-light: #939393;
    --gray: #555555;
    --gray-dark: #424242;
    --black: #353535;
    --green: #5EC47B;
    --green-dark: #278E50;
    --red: #CA4C4C;
    --red-dark: #9C2A2A;
}

/* a reset */
a, a:hover, a:active {
    text-decoration: none;
    color: var(--black);
}

/* layout */
body {
    height: 100vh;
    background: url("../img/background.png");
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
    padding: 2rem 0 2rem 0;
}

footer {
    flex: 0 1 auto;
}

/* buttons */
.button-base {
    padding: .625rem 1.875rem .625rem 1.875rem;
    font-size: 1.125rem;
    border-radius: .438rem;
    display: block;
    border: unset;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.button-with-icon {
    display: flex;
    align-items: center;
}

.button-icon {
    height: 1.125rem;
    margin-right: .5rem;
}

.button-main {
    background-color: var(--main);
    color: var(--white);
}

.button-main:hover {
    background-color: var(--main-darker);
    color: var(--white);
}

.button-secondary {
    background-color: var(--gray-light);
    color: var(--white);
}

.button-secondary:hover {
    background-color: var(--gray-dark);
    color: var(--white);
}

.button-success {
    background-color: var(--green);
    color: var(--white);
}

.button-success:hover {
    background-color: var(--green-dark);
    color: var(--white);
}

.button-danger {
    background-color: var(--red);
    color: var(--white);
}

.button-danger:hover {
    background-color: var(--red-dark);
    color: var(--white);
}

.button-main-outline {
    box-shadow: inset 0 0 0 .078rem var(--main);
    color: var(--main);
    background-color: var(--white)
}

.button-main-outline:hover {
    box-shadow: unset;
    background-color: var(--main-darker);
    color: var(--white);
}

.button-secondary-outline {
    box-shadow: inset 0 0 0 .078rem var(--gray-light);
    color: var(--gray-light);
    background-color: var(--white)
}

.button-secondary-outline:hover {
    box-shadow: unset;
    background-color: var(--gray-light);
    color: var(--white)
}

.button-success-outline {
    box-shadow: inset 0 0 0 .078rem var(--green);
    color: var(--green);
    background-color: var(--white)
}

.button-success-outline:hover {
    box-shadow: unset;
    background-color: var(--green-dark);
    color: var(--white)
}

.button-danger-outline {
    box-shadow: inset 0 0 0 .078rem var(--red);
    color: var(--red);
    background-color: var(--white)
}

.button-danger-outline:hover {
    box-shadow: unset;
    background-color: var(--red-dark);
    color: var(--white)
}

.button-skeleton {
    color: var(--main);
}

.button-skeleton:hover {
    color: var(--main-darker);
}
