@import 'colors.css';

html {
    height: 100%;
    font-family: Martel Sans, serif;
    font-style: normal;
}

body {
    height: 100%;
}

.basic-button {
    background-color: var(--main);
    color: var(--white);
    text-decoration: none;
    border-radius: 0.1em;
    padding: 0.3em 0.6em;
}