:root {
    --main: #5E62C4;
    --main-darker: #332A9C;
    --white: #FFFFFF;
    --gray-table-light: #DDDDDD;
    --gray-table-background: #F8F8F8;
    --gray-lightest: #B4B4B4;
    --gray-light: #939393;
    --gray: #555555;
    --gray-dark: #424242;
    --black: #353535;
    --green: #5EC47B;
    --green-dark: #278E50;
    --red: #CA4C4C;
    --red-dark: #9C2A2A;
}

/* a reset */
a, a:hover, a:active {
    text-decoration: none;
    color: var(--black);
}

/* layout */
body {
    position: absolute;
    top: 0;
    bottom: 0;
    background: url("../img/background.png");
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

header {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

body .main-hidden {
    display: none;
}

footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

/* buttons */
.button-base {
    padding: .625rem 1.875rem .625rem 1.875rem;
    font-size: 1.125rem;
    border-radius: .438rem;
    display: block;
    border: unset;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.button-with-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button-icon {
    height: 1.125rem;
    margin-right: .5rem;
}

.button-main {
    background-color: var(--main);
    color: var(--white);
}

.button-main:hover {
    background-color: var(--main-darker);
    color: var(--white);
}

.button-secondary {
    background-color: var(--gray-light);
    color: var(--white);
}

.button-secondary:hover {
    background-color: var(--gray-dark);
    color: var(--white);
}

.button-success {
    background-color: var(--green);
    color: var(--white);
}

.button-success:hover {
    background-color: var(--green-dark);
    color: var(--white);
}

.button-danger {
    background-color: var(--red);
    color: var(--white);
}

.button-danger:hover {
    background-color: var(--red-dark);
    color: var(--white);
}

.button-main-outline {
    -webkit-box-shadow: inset 0 0 0 .078rem var(--main);
    box-shadow: inset 0 0 0 .078rem var(--main);
    color: var(--main);
    background-color: var(--white)
}

.button-main-outline:hover {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-color: var(--main-darker);
    color: var(--white);
}

.button-secondary-outline {
    -webkit-box-shadow: inset 0 0 0 .078rem var(--gray-light);
    box-shadow: inset 0 0 0 .078rem var(--gray-light);
    color: var(--gray-light);
    background-color: var(--white)
}

.button-secondary-outline:hover {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-color: var(--gray-light);
    color: var(--white)
}

.button-success-outline {
    -webkit-box-shadow: inset 0 0 0 .078rem var(--green);
    box-shadow: inset 0 0 0 .078rem var(--green);
    color: var(--green);
    background-color: var(--white)
}

.button-success-outline:hover {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-color: var(--green-dark);
    color: var(--white)
}

.button-danger-outline {
    -webkit-box-shadow: inset 0 0 0 .078rem var(--red);
    box-shadow: inset 0 0 0 .078rem var(--red);
    color: var(--red);
    background-color: var(--white)
}

.button-danger-outline:hover {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-color: var(--red-dark);
    color: var(--white)
}

.button-skeleton {
    color: var(--main);
}

.button-skeleton:hover {
    color: var(--main-darker);
}

.top-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.detail-list {
    margin-left: 1em;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

section.alerts {
    margin: 0.1em
}

li.ajax-list-item {
    margin-top: 0.1em;
    display: flex;
    align-items: center;
}

.list-button {
    padding: .425rem .425rem .425rem .425rem;
    margin-right: 0.3em;
    font-size: 1.125rem;
    border-radius: .438rem;
    display: block;
    border: unset;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.add-modal {
    position: fixed;
    padding: 1em;
    border-radius: .438rem;
    box-shadow: inset 0 0 0 .078rem var(--green-dark);
    background: var(--white);
    border: 0;
}

.add-modal ul {
    display: flex;
    flex-direction: column;
}

.add-modal a {
    color: var(--gray);
    margin-bottom: 0.2em;
    cursor: pointer;
}

.add-modal a:hover {
    color: var(--gray-dark);
}

#delete-modal {
    position: fixed;
    padding: 1em;
    border-radius: .438rem;
    box-shadow: inset 0 0 0 .078rem var(--red-dark);
    background: var(--white);
    border: 0;
    font-size: 1.2em;
}

#delete-modal .button-row {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.hidden {
    display: none;
}

#ajax-template {
    display: none;
}

#modal-template {
    display: none;
}