.main-header {
    background-color: var(--white);
    padding: 0.625rem 0 0.625rem 0;
    display: flex;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,0.15);
    align-items: center;
}

/* layout */
.main-header h1 {
    flex: 2;
}

.main-header nav, .main-header section {
    flex: 1;
}

.main-header nav, .main-header nav ul, .main-header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header nav, .user-links {
    display: none;
}

/* header logo */
.main-header h1 {
    margin-left: 2rem;
    height: 2.6rem;
    overflow: hidden;
}

.main-header h1 a {
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
    font-size: 3rem;
    color: var(--main);
}

.main-header h1 a:hover {
    color: var(--main-darker)
}

/* navbar */
.main-header nav ul li:not(:last-child) {
    margin-right: 0.625rem;
}

/* user links */
.main-header .user-links {
    justify-content: flex-end;
    margin-right: 2rem;
}

/* dropdown */
.dropdown {
    position: relative;
    display: none;
}

.dropdown > a {
    cursor: unset;
    pointer-events: none;
}

/* dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-radius: 0 0 .438rem .438rem;
}

.dropdown-content a {
    padding: .75rem 0 .75rem .5rem;
    text-decoration: none;
    display: block;
    color: var(--white);
    background-color: var(--gray-light);
}

/* dropdown hover */
.dropdown-content a:hover {
    background-color: var(--gray-dark);
}

.dropdown-content a:last-of-type {
    border-radius: 0 0 .438rem .438rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover > a {
    background-color: var(--main-darker);
    border-radius: .438rem .438rem 0 0;
}

@media screen and (min-width: 740px) {
    .hamburger-menu-open {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .main-header nav, .user-links {
        display: flex;
    }

    .main-header nav ul li a .button-icon, .main-header .user-links .button-icon {
        margin: 0;
    }

    .main-header nav ul li a span, .main-header .user-links a span, .main-header .user-links .button-icon:first-of-type, .dropdown button span {
        display: none;
    }

    #hamburger-menu li a span {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .main-header h1 {
        flex: 1;
    }
}

@media screen and (min-width: 1150px) {
    .main-header nav ul li a span, .main-header .user-links a span, .main-header .user-links .button-icon:first-of-type, .dropdown button span {
        display: block;
    }

    .main-header nav ul li a .button-icon, .main-header .user-links .button-icon {
        margin-right: .5rem;
    }

    .main-header .user-links .button-icon:last-of-type {
        display: none;
    }
}