main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    width: 90%;
    max-width: 35rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: var(--white);
    border-radius: .438rem;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    padding: 3rem 0 3rem 0;
}

#login-form section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#login-form h1 {
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
    font-size: 4.5rem;
    color: var(--main);
    margin-bottom: 2rem;
}

#login-form h2 {
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: .5rem;
}

#login-form form {
    margin-bottom: 4rem;
    display: flex;
    flex-flow: column;
    width: 100%;
}

form label {
    display: none;
}

form button {
    border: none;
}

form input, form textarea {
    font-family: 'Source Sans Pro', sans-serif;
    padding: .625rem;
    font-size: 1rem;
    color: var(--black);
    border-radius: .438rem;
    border: unset;
    box-shadow: inset 0 0 0 0.078rem var(--gray-light);
}

form div div {
    display: flex;
    justify-content: stretch;
    flex-flow: column;
}

form input:focus-visible, form textarea:focus-visible {
    box-shadow: inset 0 0 0 0.078rem var(--main-darker);
    outline: unset;
}

form button:hover {
    cursor: pointer;
}

form > *:not(:last-child), form > div > *:not(:last-child) {
    margin-bottom: 1rem;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}