main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

table {
    border: 0;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding: 2rem 0 calc(2rem - .625rem) 0;
    border-radius: .438rem;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    margin-top: 2rem;
    width: 90%;
}

table tbody {
    width: calc(100% - 4rem);
}

table thead {
    display: none;
}

table th, table td {
    padding: .625rem;
}

table tr {
    border: .063rem solid #ddd;
    display: block;
    margin-bottom: .625rem;
    padding: .35em;
}

table td {
    border-bottom: 0.063rem solid #ddd;
    display: block;
    text-align: right;
}

table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

table td:last-child {
    border-bottom: 0;
    text-align: center;
}

table tbody tr td {
    padding: .625rem;
}

table tr {
    background-color: var(--gray-table-background);
}

.table-buttons a:not(:last-child) {
    margin-bottom: .35rem
}

@media screen and (min-width: 790px) {
    table {
        box-shadow: unset;
        background-color: unset;
        display: block;
        margin: 0;
    }

    table thead, table tbody {
        display: block;
    }

    table tr {
        margin: 0;
        border: unset;
    }

    table td {
        display: table-cell;
        border: unset;
    }

    table td::before {
        display: none;
    }

    table thead tr {
        display: flex;
    }

    table thead tr th {
        flex: 1 1 0;
    }

    table thead tr, table tbody tr {
        padding: 0;
    }

    table th {
        letter-spacing: .1rem;
        text-transform: uppercase;
        background-color: var(--main);
        color: var(--white);
    }

    table thead tr th, table tbody tr td {
        padding: 1rem 0 1rem 0;
    }

    table tr th:first-of-type {
        border-radius: .438rem 0 0 0;
    }

    table tr th:last-of-type {
        border-radius: 0 .438rem 0 0;
    }

    table tbody {
        width: 100%;
    }

    table tbody tr {
        display: flex;
        flex-wrap: wrap;
        box-shadow: inset 0 -.055rem 0 0 var(--gray-light), inset .055rem 0 0 0 var(--gray-light), inset -.055rem 0 0 0 var(--gray-light);
        padding-bottom: .5rem;
    }

    table tbody td {
        flex: 1 1 0;
        text-align: center;
    }

    .table-buttons {
        flex-basis: 100%;
        box-sizing: border-box;
        padding: 0 .5rem 0 .5rem;
        display: flex;
        justify-content: flex-end;
    }

    .table-buttons a:not(:last-child) {
        margin: 0 .5rem 0 0;
    }

    table tbody tr:last-of-type {
        border-radius: 0 0 .438rem .438rem;
    }

    table tr:nth-child(even) {
        background-color: var(--gray-table-light)
    }

    table tr:hover {
        background-color: var(--gray-lightest)
    }
}