<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome page{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/reset.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('styles/general.css') }}" type="text/css">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        {% include 'header.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block footer %}{% endblock %}
    </body>
</html>
