<dialog id="delete-modal" class="hidden">
    <p id="delete-modal-message"></p>
    <section class="button-row">
        <button class="button-base button-secondary" id="delete-modal-cancel">Cancel</button>
        <button class="button-base button-danger-outline" id="delete-modal-confirm">Confirm</button>
    </section>
</dialog>