{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <nav>
            <a href="#">HMS(t)R</a>
            <ul>
                <li><a href="{{ path('rooms_index') }}">Classrooms</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="{{ path('users_index') }}">Users</a></li>
            </ul>

            <ul>
                <li>User name</li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}