{% extends 'base.html.twig' %}

{% block title %} Landing page {% endblock %}

{% block stylesheets %} {% endblock %}

{% block javascripts %} {% endblock %}

{% block body %}
    <section>
        <h1>HSM(t)R</h1>
        <p>Booking of classrooms was never easier</p>

        <button>Browse classrooms</button>
        <button>Log in</button>
    </section>

{% endblock %}

{% block footer %}
    <img src="#" alt="Hamster in a wheel">
    <p>Powered by hamster in spinning wheel.</p>
{% endblock %}