<li class="ajax-list-item" id="ajax-template">
    <a class="list-button button-danger button-with-icon remove-reservation-user">
        {{ source('@icons/user-minus-icon.svg') }}
    </a>
    <a class="table-link"></a>
</li>
<dialog class="add-modal" id="modal-template">
    <ul id="users-list"></ul>
    <button class="button-base button-success">Close</button>
</dialog>