<article class="detail-modal" id="detail-modal-template">
    <header>
        <h1 class="user-name"></h1>
    </header>
    <dl>
        <dd>First name</dd>
        <dt data-label="First name" class="user-first-name"></dt>
        <dd>Last name</dd>
        <dt data-label="Last name" class="user-last-name"></dt>
        <dd>Username</dd>
        <dt data-label="Username" class="user-username"></dt>
    </dl>
</article>