{% extends 'base.html.twig' %}

{% block title %} Approve requests {% endblock %}

{% block main %}
    {% for request in requests %}
        {# TODO; Reject the request  #}
        {{ request.state }} - {{ request.requestor }} <a href={{ path('reservations_new_from_request', {id: request.id}) }}>CONFIRM REQUEST AND CREATE RESERVATION</a>
        <br>
    {% endfor %}
{% endblock %}