{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    <section>
        <h1>Dashboard</h1>
        <ul>
            <li><a href="#">Classrooms</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </section>
{% endblock %}